 
@{
}
<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
				 Frequently Asked Questions
				</h1>
				<p class="text-white link-nav"><a asp-controller="Home" asp-action="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a asp-controller="Home" asp-action="FAQs">FAQs</a></p>
			</div>
		</div>
	</div>
</section>
<section class="feature-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4" data-aos="fade-up"
				 data-aos-duration="3000">
				<div class="single-feature">
					<div class="title">
						<h4>Learn Online Courses</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Usage of the Internet is becoming more common due to rapid advancement
							of technology.
						</p>
						<a href="#">Join Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4" data-aos="fade-down"
				 data-aos-duration="3000">
				<div class="single-feature">
					<div class="title">
						<h4>No.1 of universities</h4>
					</div>
					<div class="desc-wrap">
						<p>
							For many of us, our very first experience of learning about the celestial bodies begins when we saw our first.
						</p>
						<a href="#">Join Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4" data-aos="fade-up"
				 data-aos-duration="3000">
				<div class="single-feature">
					<div class="title">
						<h4>Huge Library</h4>
					</div>
					<div class="desc-wrap">
						<p>
							If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event.
						</p>
						<a href="#">Join Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Start review Area -->
<section class="review-area section-gap relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row">
			<div class="active-review-carusel">
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>How to join the course?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Why to join the institute?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>When will be Entrance Examinations Conducted?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Can I use the Lab facilities after my class hours?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>How can I apply for the entrance exam?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Will there be any fees for the entrance exam?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<img src="~/img/r1.png" alt="">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>How to make the payment?</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
				<div class="single-review item">
					<div class="title justify-content-start d-flex">
						<a href="#"><h4>Hulda Sutton</h4></a>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<p>
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End review Area -->